.perf-btn {
    min-width: 100px;
    min-height: 100px;
    padding: 100px; /* Add padding if needed */
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perf-btn img {
    width: 24px; /* Adjust to fit your design */
    height: 24px;
}